.contact{
    padding: 20px;
    background-color: #495057;
    /* height: 100vh; */
}

.contactHeader{
    color: white;
}

.contact p {
    color: white;
}

.contact input {
    width: 375px;
    height: 20px;
}

.contact button {
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
    color: white;
    background-color: #ced4da;
    cursor: pointer;
    transition: background-color .5s;
    margin-top: 20px;
    
}

.contact button:hover {
    background-color: #6c757d;
}